.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 10px 12px rgb(0,0,0,0.5),0 20px 30px 0 rgb(0,0,0,0.5);
}
body ::after{
    content: "";
    background-image: url(/image/images.jpg) no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: o.5;
    width: 100vw;
    height: 100vh;

}
.headDiv{
    text-align: center;
}

.inputDivs{
    display: flex;
    flex-direction: column;
    margin: 20px;

}
#sumbit{
    background-color: blue;
    color: white;
    height: 30px;
    border-radius: 10px;

}
input{
    margin-top: 5px;
}
.input{
    border: 1px solid blue;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
}